*{padding: 0px; 
margin: 0px;
box-sizing: border-box;}

.div__Section2-imgcover{
    width: 100vw;

    .img__video{ 
        z-index: -2;
        position: absolute;
        width: 100vw;
    }

    .img_degrada{
        width: 100vw;
        z-index: -1;
        position: absolute;
    }
}


.div__Section2-threecontainer{
    display: flex;
    justify-content: center;

        .div__Section2-header{
            width: 8px;
            height: 10px;
            font-size: 32px;
            font-family: 'Abril Fatface';
            text-align: center;
            padding-top: 10px;
            padding-bottom: 0%;
            margin: 0 10px;
            color: #000000;
            }
}

.div__Section2-fourcontainer{
    display: flex;
    .ul__Section2_List{
        display: flex;
        li{
            margin: 0px 10px;
        }
        .Sin_punto{
            list-style: none;
        }
    }
}


.div__Section2-Valoration{
    display: flex;
.ul__Section2-stars{
    display: flex;

    li{
        margin: 0 10px;
        list-style: none;
    }
    
}
}

.button__Section2-button{
    background-color: black;
    color: white;
    width: 228px;
    height: 32px;
border-radius: 8px;
}
