@import "vars";

@mixin piano-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 239px;
  background: $third-color;
  /* shadow-cards */
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin: 15px;
  z-index: -1;
}

@mixin card-title-fonts {
  width: 182px;
  height: 28px;
  left: 367px;
  font-family: $font-abril;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.05em;
  color: $primary-color;
  margin: 25px auto;
}

@mixin card-description-fonts {
  width: 39px;
  height: 14px;
  left: 673px;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  align-items: center;
  letter-spacing: 0.05em;
  color: $primary-color;
}

@mixin card-vector-divisor {
  width: 232px;
  height: 0px;
  border: 1px dashed #dbdbdb;
  margin: 20px 0;
}

@mixin button-price-font {
  width: 161px;
  height: 36px;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: $primary-color;
  background-color: $third-color;
  border-radius: 5px;
  margin: 28px 5px;
}

@mixin buy-button {
  width: 36px;
  height: 36px;
  left: 247px;
  background: $primary-color;
  border-radius: 8px;
  padding: 5px;
}

/* class for main container S3*/
.div__main-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;

  /*class for section 3 title*/
  .div__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    width: 470px;
    height: 62px;
    font-family: $font-abril;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $primary-color;
  }
}

/*Cointainer for cards S3*/
.div__piano-cards-container {
  display: flex;
  justify-content: center;

  .div__card-piano-img {
    position: absolute;
    padding-bottom: 330px;
    display: flex;
    justify-content: center;
  }

  .div__card-white-space {
    height: 30px;
  }

  .ul__flex-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }

  .li__margin {
    margin: 0px 10px;
  }

  .li__margin--none {
    list-style-type: none;
  }
  .div__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div__piano-cards {
    @include piano-cards();
  }

  .div__card-title {
    @include card-title-fonts();
  }

  .div__card-description {
    @include card-description-fonts();
  }

  .div__card-vector {
    @include card-vector-divisor();
  }

  .button__price-font {
    @include button-price-font();
  }

  .button__buy {
    @include buy-button();
  }
}

/*Class for button of the bottom of S3*/
.div__btn-see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
}

.btn__see-more {
  width: 129px;
  height: 32px;
  background-color: $primary-color;
  border-radius: 8px;
  color: $third-color;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.div__description-S4 {
  width: 561px;
  height: 57px;
  // left: 199px;
  // top: 2653px;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: $primary-color;
}

.div__flex-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div__flex {
  display: flex;
  justify-content: center;
}

.label__styles {
  width: 106px;
  height: 36px;
  left: 248px;
  // top: 2752px;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: $primary-color;
}

.div__form-box {
  box-sizing: border-box;
  position: absolute;
  width: 464px;
  height: 36px;
  // left: 248px;
  // top: 2798px;
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin: 10px;
}

/*Media Queries*/
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .div__main-flex-S3--mobile {
    flex-direction: column;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.div__Section2-imgcover {
  width: 100vw;

  .img__video {
    z-index: -2;
    position: absolute;
    width: 100vw;
  }

  .img_degrada {
    width: 100vw;
    z-index: -1;
    position: absolute;
  }
}

.div__Section2-threecontainer {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin: 20px 20px;
  color: #000000;
}

.div__Section2-fourcontainer {
  display: flex;

  .p__Section2-pNuevo {
    font-family: "Abril Fatface";
    font-size: 24px;
    margin: 40px 0;
    color: #ffffff;
  }

  .div__Section2-text {
    font-family: "Raleway";
    font-size: 12px;
    color: #ffffff;
  }

  .ul__Section2_List {
    display: flex;
    margin: 20px 0;

    li {
      margin: 0px 10px;
    }
    .Sin_punto {
      list-style: none;
    }
    .none_vist {
      visibility: hidden;
    }

    font-family: "Raleway";
    font-size: 12px;
    color: white;
  }

  .p__Section2-pDesde {
    font-family: "Abril Fatface";
    font-size: 24px;
    margin: 20px 0;
    color: #ffffff;
  }

  .p__Section2-pLorem {
    font-family: "Raleway";
    font-size: 16px;
    color: #ffffff;
    width: 360px;
  }
}

.div__Section2-Valoration {
  display: flex;
  .ul__Section2-stars {
    display: flex;

    li {
      margin: 0 10px;
      list-style: none;
    }
  }
}

.button__Section2-button {
  background-color: #000000;
  border-radius: 8px;
  color: white;
  width: 228px;
  height: 32px;
}

.div__Section2-sixcontainer {
  width: 506.42px;
  height: 463px;
  left: 422px;
}

/* El SCSS de Vryahn empieza aquí */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:wght@700&family=Poppins:wght@300;500&family=Raleway:wght@300;400;500;600;700&display=swap");
h1,
.titulo {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  width: 288px;
  height: 62px;
  left: 15.55px;
  top: 176px;
  font-size: 32px;
  text-align: center;
  line-height: 43px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

h2,
.tituloSeccion {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  width: 288px;
  height: 62px;
  left: 15.55px;
  top: 3636px;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

h5,
.subtitulo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  width: 176px;
  height: 19px;
  left: 71.55px;
  top: 139px;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #858585;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.blackButton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  width: 129px;
  background: #000000;
  border-radius: 8px;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.whiteButton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  width: 129px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #000000;
}

@media (max-width: 599px) {
  .soloDesktop {
    display: none;
  }
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
}

nav ul li {
  margin: 10px;
}

#initialogo {
  display: flex;
}

#encabezado {
  display: flex;
  justify-content: space-between;
}

#carrito {
  height: 22.0000019073px;
  width: 20.9999980927px;
  left: 7px;
  top: 7px;
  border-radius: 0px;
}

#initialogo img {
  left: 14.79%;
  right: 72.89%;
  top: 0.65%;
  bottom: 98.71%;
  height: 36.7901096469px;
  width: 31.4104972237px;
  left: 47.3419876099px;
  top: 32px;
  border-radius: 0px;
}

#initialogo p {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  width: 65px;
  height: 19px;
  left: 38.55px;
  top: 57px;
  font-size: 15.1116px;
  line-height: 19px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#buttons {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#piano1 {
  width: 100%;
  display: flex;
}

#piano2 {
  height: 175.4633789063px;
  width: 209.9351806641px;
  border-radius: 0px;
}

#vector1 {
  height: 159.0900878906px;
  width: 204.4613800049px;
  border-radius: 0px;
}

#vector2 {
  height: 140.6955874688px;
  width: 253.8617559315px;
  border-radius: 0px;
}

.centrar {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.sectionDospuntouno {
  position: inherit;
  background-color: red;
}

.sectionDospuntodos {
  position: relative;
}

#section2 {
  background-image: url("rscs/backgroundsection2.png");
  background-color: transparent;
  background-size: 100% 100%;
  color: white;
}

#section5 {
  min-width: 100%;
  margin: 0;
  background: linear-gradient(to bottom, gray, white);
  background-size: 100%;
}

#section5 h3 {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

#partners1,
#partners2,
#partners3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.partnerIzquierdo,
.partnerDerecho {
  display: inherit;
  min-width: 240px;
  height: 70px;
  border-radius: 1000px;
  margin: 10px 20px 10px 20px;
  background: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  color: white;
}

.partnerIzquierdo img,
.partnerDerecho img {
  width: 15%;
  height: 40%;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
}

.partnerIzquierdo p,
.partnerDerecho p {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.pianologos {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  max-width: 95%;
}

.logosSection1 {
  border-radius: 50px;
  align-content: flex-end;
}

/* El SCSS de Vryahn termina aquí */
