
.div__Seccion2-video{
    position: absolute;
    width: 1351;
    height: 761px;
    left: -196px;
    top: 926px;

    background-image: url(image.png);
}

.div__Seccion2-degradado{
    width: 950px;
    height: 761px;
    top: 926px;

    position: absolute;
    width: 960px;
    height: 761px;
    left: 0px;
    top: 926px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
}

.div__seccion2{
    width: 470px;
    height: 62px;
    top: 958px;
    left: 245px;

    font:'Abril Fatface';
    size: 32px;
    line-height: 43.17px;
    
    position: absolute;
    width: 470px;
    height: 62px;
    left: 245px;
    top: 958px;

    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.div_Seccion2-NuevoEbony{
    width: 218px;
    height: 32px;
    top: 1188px;
    left:32px;

    font: 'Abril Fatface';
    size: 24px;
    line-height: 32.38px;

    position: absolute;
    width: 218px;
    width: 32px;
    left: 32px;
    top: 1188px;

    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color:#FFFFFF;
}

.div__Seccion2-valoracion{
    width: 71px;
    height: 14px;
    top: 1238px;
    left: 32px;

    font: 'Raleway';
    size: 12px;
    line-height: 14.09;
    
    position: absolute;
    width: 71px;
    height: 14px;
    left: 32px;
    top: 1238px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.div__Seccion2-Desde{
    width: 224px;
    height: 32px;
    top: 1269px;
    left: 32px;

    font:'Abril Fatface' ;
    size: 24px;
    line-height: 32.38px;

    position: absolute;
    width: 224px;
    height: 32px;
    left: 32px;
    top: 1269;

    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.div__Seccion2-Lorem{
    width: 360px;
    height: 131px;
    top: 1317;
    left: 32px;

    font: 'Raleway';
    size: 16px;
    line-height: 18.78px;
    
    position: absolute;
    width: 360px;
    height: 131px;
    left: 32px;
    top: 1317px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.li__Seccion2-Li--nuevo{
    width: 40px;
    height: 14px;
    top: 1466px;
    left: 32px;

    font: 'Raleway';
    size: 12px;
    line-height: 14.09;

    position: absolute;
    width: 48px;
    height: 14px;
    left: 32px;
    top: 1466px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    // El box
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color:#FFFFFF ;
}

.li__Seccion2-Li--2021{
    width: 29px;
    height: 14px;
    top: 1466px;
    left: 93px;

    font: 'Raleway';
    size: 12px;
    line-height: 14.09;

    position: absolute;
    visibility: hidden;
    width: 29px;
    height: 14px;
    left: 93px;
    top: 1466px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    // El box
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color:#FFFFFF ;
}

.li__Seccion2-Li--Acus{
    width: 40px;
    height: 14px;
    top: 1466px;
    left: 141px;

    font: 'Raleway';
    size: 12px;
    line-height: 14.09;

    position: absolute;
    visibility: hidden;
    width: 40px;
    height: 14px;
    left: 141px;
    top: 1466px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    // El box
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color:#FFFFFF ;
}

.li__Seccion2-Li--Cedro{
    width: 40px;
    height: 14px;
    top: 1466px;
    left: 141px;

    font: 'Raleway';
    size: 12px;
    line-height: 14.09;

    position: absolute;
    visibility: hidden;
    width: 40px;
    height: 14px;
    left: 141px;
    top: 1466px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    // El box
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color:#FFFFFF ;
}

.div__Seccion2-bottom--recuadro{
    // Propiedades botón

    width: 228px;
    height: 32px;
    top: 1514px;
    left: 32px;
    border-radius: 8px;

    position: absolute;
    width: 228px;
    height: 32px;
    left: 32px;
    top: 1514px;

    background: #000000;
    border-radius: 8px;
}

.div__Seccion2-bottom--carrito{
    width: 228px;
    height: 32px;
    left: 45.55;
    top: 1312;

    font: 'Raleway';
    size: 14px;
    line-height: 16.44px;

    position: absolute;
    width: 228px;
    height: 32px;
    left: 32px;
    top: 1514px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    background: #FFFFFF;

}

.img__Seccion2-img--piano{
    width: 369.15px;
    height: 308.53px;
    top: 1211.37px;
    left: 441.62;

    position: absolute;
    width: 369.15px;
    height: 308.53px;
    left: 441.62px;
    top: 1211.37px;

    background: url(media);
}

.img__Seccion2-img--vector{
    width: 446.39px;
    height: 247.4px;
    top: 1338.84px;
    left: 928.42;
    opacity: 50%;

    position: absolute;
    left: 96.71%;
    right: -43.21%;
    top: 30.31%;
    bottom: 64.09%;

    background: #FFFFFF;
    opacity: 0.5%;
    transform: rotate(143.88deg);
}
.img__Seccion2-img--vector2{
    width: 359.52px;
    height: 279.74px;
    top: 1205.02px;
    left: 528.25;
    opacity: 35%;

    position: absolute;
    left: 55.03%;
    right: 7.52%;
    top: 27.28%;
    bottom: 66.39%;

    background: #FFFFFF;
    opacity: 0.35%;
}
.img__Seccion2-img---vector3{
    width: 362.65;
    height: 180.21;
    top: 1208.4;
    left: 485.28px;

    position: absolute;
    width: 362.65px;
    height: 180.21px;
    left: 485.28px;
    top: 1208.4px;
}

// <!-- Final de Sección2 Anay Delgado -->

.div__Seccion5-degradado{

width: 960px;
height: 589px;
top: 3279px;

position: absolute;
width: 960px;
height: 589px;
left: 0px;
top: 3279px;

background: linear-gradient(177.96deg, #6F6F6F 1.72%, #FFFFFF 98.63%);
}

.div__seccion5{
    width: 470px;
    height: 62px;
    top: 3328px;
    left: 245px;

    font:'Abril Fatface';
    size: 32px;
    line-height: 43.17px;
    
    position: absolute;
    width: 470px;
    height: 62px;
    left: 245px;
    top: 3328px;

    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}